$primary-color-1: #4a55a2;
$primary-color-2: #7895cb;
$primary-color-3: #a0bfe0;
$primary-color-4: #c5dff8;

$secondary-color-1: #071952;
$secondary-color-2: #0b666a;
$secondary-color-3: #35a29f;
$secondary-color-4: #97feed;
