// Variables
$color-date: rgb(123, 128, 187);
$color-btn: rgb(120, 113, 209);
$color-btn-text: white;
$font-size-base: 14px;

// Card
$width-card: 300px;
$gap-card-elements: 20px;
$margin-around-card-elements: 15px;
